img {
  width: 75%;
  height: 30%;
}
.flexheader {
  display: flex;
}

#topJumbotron {
  background-color: black;
  font-family: Impact, Charcoal, sans-serif;
  color: black;
}

#leftHeader {
  margin-left: 5rem;
  margin-right: 3rem;
  color: black;
}

#rightHeader {
  color: black;
}
